<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Patients</title>
</head>
<body>
    <h2>This Form is For Patient Details Only</h2>
    <p>Please enter all information in full in the spaces below: </p>
    <form action = "/savedetails" method = "post"
           <table>
               <tr><td>Patient ID </td><td><input type= "text" name = "PatientID"></td></tr>
               <tr><td>First Name </td><td><input type="text" name=" FirstName"></td></tr>
               <tr><td>Sur Name </td><td><input type="text" name="SurName"></td></tr><br> <br>
               <br><tr><td>Age      </td><td><input type="text" name="AGE"></td></tr> <br> <br>
                <br><tr><td> Height </td><td><input type="text" name=" HEIGHT"></td></tr>
               <tr><td> Weight </td><td><input type="text" name=" WEIGHT"></td></tr><br> <br>
                <br><tr><td> BMI  </td><td><input type="text" name="BMI"></td></tr> <br> <br>
               <br><tr><td>Mobile Phone  </td><td><input type="text" name="Mphone"></td></tr>
                <tr><td>Email </td><td><input type="email" name="EMAIL"></td></tr><br> <br>
               <br><tr><td>Date of Admission </td><td><input type="text" name="DATEofAdmission"></td></tr><br> <br>
               <br><tr><td>Condition  </td><td><textarea  id="condition" name="CONDITION" rows="4" cols="50"></textarea></td></tr><br>
                <br><tr><td>Current medications </td><td><textarea  id="CURRENTmeds" name="CURRENTmeds" rows="4" cols="50"></textarea></td></tr><br>
                <br><tr><td> Nursing care given</td><td><textarea  id="NURSINGcare" name="NURSINGcare" rows="4" cols="50"></textarea></td></tr><br>
               <br><tr><td>Medical history </td><td><textarea  id="MEDICALhistory" name="MEDICALhistory" rows="4" cols="50"></textarea></td></tr><br>
               <br><tr><td> Doctor's ID </td><td><input type=int name="Doctor_ID"></td></tr>
               <tr><td> Your Nurse ID </td><td><input type=int name="email"></td></tr> <br> <br>
                <br><tr><td><input type="submit" value="Submit"></td></tr>
    </table>



</body>
</html>