
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">

</head>
<body>
    <nav>
         <a href="{{ url_for('loging') }}"> Login Page</a>
         <a href="{{ url_for('kazi') }}"> Home Page</a>
         <a href="{{ url_for('creating') }}"> Add Patient</a>
        <a href="{{ url_for('view') }}"> List Records </a>
        <a href="{{ url_for('delete') }}">Delete</a>












    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
