{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Duties {% endblock %}</h1>


    <h2>Here you can perform changes according to care given</h2>


        <p><a href="/add"> Add patient</a></p>
        <p><a href="/view"> View Patients </a></p>
        <p><a href="/view_doctors"> View Doctors </a></p>
         <p><a href="/view_conditions"> View Conditions</a></p>
        <p><a href="/view"> Delete Patient</a></p>
          <p><a href="/view"> Update Patient</a></p>





<p>{{msg}}</p>





{% endblock %}