<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error  </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
</head>
<body>

  <h1> Error Page</h1><hr>


    <h2> <form action = "http://localhost:8080/error" method = "post">

        <h1>User Already Exists,Please Try Again </h1>
        <p><a class="anchor-button" href="{{ url_for('register') }}"><strong>Register</strong></a></p>


        </form></h2>
</body>
</html>














