<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <form  action="/">
         <h2> Log in successfull </h2>
        <lable>Welcome to the Emergency Department Nurses Unit</lable><br>
        <br><a href="/add_p">Add Patients</a><br><br>
        <a href="view_p">View Patients</a><br><br>
        <a href="/delete_p">Delete Patients</a><br><br>
        <a href="/view_d">View Doctors</a><br><br>
        <button type="submit"> LOGOUT</button>
   </form>



</body>
</html>