<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home  </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
</head>
<body>

  <h1> Login page</h1><hr>

 <h1> Welcome to St Catherine's Emergency Department </h1>
    <h2> <form action = "http://localhost:8080/" method = "post">


           <p>Enter Email:</p> <p><input type = "email" name = "email"  required/></p>
           <p>Enter Password:</p> <p><input type = "password" name = "password" required /></p>
            <p> <button type = "submit">Login</button>
                 <button class="GFG"
                   onclick="window.location.href = '/register';">  <!-- taken from:https://www.geeksforgeeks.org/how-to-create-an-html-button-that-acts-like-a-link/-->
                     Register Here
                 </button>
            </p>


        </form></h2>
</body>
</html>


















