<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
</head>
<body>

        <h1> Register page</h1><hr>

<div class="shadow">
             <h3> <form action = "http://localhost:8080/register" method = "post">
               <table>
                  <tr><td>First Name:</td><td><input type="text" autocomplete="off" autofocus name="first_name" required></td></tr>
                 <tr><td>Last Name:</td><td><input type="text" autocomplete="off" name="last_name" required></td></tr>
                 <tr><td>Enter Password:</td><td><input type="password" autocomplete="off" name="password" required></td></tr>
                 <tr><td>Job Level:</td><td><input type="text" autocomplete="off" name="level" required ></td></tr>
                 <tr><td>Mobile Number:</td><td><input type= "text" autocomplete="off" name="mobile" required></td></tr>
                 <tr><td>Department:</td><td><input type="text" autocomplete="off" name="department" required></td></tr>
                 <tr><td>Start Date:</td><td><input type="date" autocomplete="off" name="start_date" required></td></tr>
                 <tr><td>Email:</td><td><input type="email"  autocomplete="off" name="email" required></td></tr>
                <tr><td>Address</td><td><textarea  id="address" name="address" rows="4" cols="50" required></textarea></td></tr>

                <tr><td><input type="submit" value="Submit"></td></tr>
               </table>
             </form></h3>

     <p>{{msg}}</p>
</div>
</body>
</html>







