{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} View Patients {% endblock %}</h1>

      <h2>Patient information</h2>
        <table border=5 class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
     <tr>
        <th>PatientID</th>
        <th>First Name</th>
        <th>Sir Name</th>
        <th>Age</th>
        <th>Height</th>
        <th>Weight</th>
        <th>BMI</th>
        <th>Mobile Phone</th>
        <th>Email</th>
        <th>Date of Admission</th>
        <th>Condition</th>
        <th>Current Medication</th>
        <th>Nursing Care</th>
        <th>Medical History</th>
        <th>DoctorID</th>
         <th>StaffID</th>
          <th>Update</th>
         <th>Delete</th>
     </tr>
         </thead>
            <tbody>

    {% for row in rows %}


        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
            <td>{{row["patient_id"]}}</td>
            <td>{{row["first_name"]}}</td>
            <td>{{row["sir_name"]}}</td>
            <td>{{row["age"]}}</td>
            <td>{{row["height"]}}</td>
            <td>{{row["weight"]}}</td>
            <td>{{row["bmi"]}}</td>
            <td>{{row["mobile_phone"]}}</td>
            <td>{{row["email"]}}</td>
            <td>{{row["date_of_admission"]}}</td>
            <td>{{row["condition"]}}</td>
            <td>{{row["current_meds"]}}</td>
            <td>{{row["nursing_care"]}}</td>
            <td>{{row["medical_history"]}}</td>
            <td>{{row["doctor_id"]}}</td>
            <td>{{row["staff_id"]}}</td>
              <td><button class="bg-indigo-500 hover:bg-indigo-200 text-white font-bold py-2 px-4 rounded"><a href="{{url_for('update', pid=row['patient_id'])}}" class="update-space">Update</a></button></td>
             <td><button class="bg-red-500 hover:bg-red-200 text-white font-bold py-2 px-4 rounded"><a href="{{url_for('delete_record', pid=row['patient_id'])}}" class="update-space">Delete</a></button></td>

        </tr>

    {% endfor %}
            </tbody>
</table>


<p>{{msg}}</p>









{% endblock %}