{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} View Doctors {% endblock %}</h1>
   <h2> list of our doctors on call</h2>
            <table border=5>
    <thead>
        <td>doctorid</td>
        <td>first_name</td>
        <td>last_name</td>
        <td>speciality</td>
        <td>bleep_no</td>
        <td>phone</td>

    </thead>

    {% for row in rows %}

        <tr>
            <td>{{row["doctorid"]}}</td>
            <td>{{row["first_name"]}}</td>
            <td>{{row["last_name"]}}</td>
            <td>{{row["speciality"]}}</td>
            <td>{{row["bleep_no"]}}</td>
            <td>{{row["phone"]}}</td>

        </tr>

    {% endfor %}
</table>
<br><br>














{% endblock %}