{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} View Patients {% endblock %}</h1>
      <h2>Patient information</h2>
        <table border=5>
    <thead>
        <td>PatientID</td>
        <td> First Name</td>
        <td>Sir Name</td>
        <td>Age</td>
        <td>Height</td>
        <td>Weight</td>
    <td>BMI</td>
    <td>Mobile Phone</td>
    <td>Email</td>
    <td>Date of Admission</td>
    <td>Condition</td>
    <td>Current Medication</td>
    <td>Nursing Care</td>
    <td>Medical History</td>
    <td>DoctorID</td>
    <td>NurseID</td>
         </thead>

    {% for row in rows %}

        <tr>
            <td>{{row["PatientID"]}}</td>
            <td>{{row["FirstName"]}}</td>
            <td>{{row["SurName"]}}</td>
            <td>{{row["AGE"]}}</td>
            <td>{{row["HEIGHT"]}}</td>
            <td>{{row["WEIGHT"]}}</td>
            <td>{{row["BMI"]}}</td>
            <td>{{row["Mphone"]}}</td>
            <td>{{row["EMAIL"]}}</td>
            <td>{{row["DATEofAdmission"]}}</td>
            <td>{{row["CONDITION"]}}</td>
            <td>{{row["CURRENTmeds"]}}</td>
            <td>{{row["NURSINGcare "]}}</td>
            <td>{{row["MEDICALhistory"]}}</td>
            <td>{{row["Doctor_ID"]}}</td>
            <td>{{row["Staff_ID"]}}</td>
        </tr>

    {% endfor %}
</table>
<br><br>













{% endblock %}