{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} View Doctors {% endblock %}</h1>
   <h2> list of our doctors on call</h2>
            <table border=5>
    <thead>
        <td>DoctorID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Speciality</td>
        <td>Bleep Number</td>
        <td>Mobile Phone</td>

    </thead>

    {% for row in rows %}

        <tr>
            <td>{{row["DoctorID"]}}</td>
            <td>{{row["FirstName"]}}</td>
            <td>{{row["LastName"]}}</td>
            <td>{{row["Speciality"]}}</td>
            <td>{{row["BleepNo"]}}</td>
            <td>{{row["PHONE"]}}</td>

        </tr>

    {% endfor %}
</table>
<br><br>














{% endblock %}