


html,body { height:100%; }

h1{
color: #d64161;
font-size: 2em;
text-decoration: none;


}


nav a {
color: #d64161;
font-size: 2em;
margin-left: 50px;
text-decoration: none;

        }


.shadow{
box-shadow:3px 3px 10px black;
padding:30px

}