




h1{
color: #d64161;
font-size: 2em;
text-decoration: none;
}


nav a {
color: #d64161;
font-size: 2em;
margin-left: 50px;
text-decoration: none;
 }


.shadow{
float:left;
width:50cm;
height:50cm;
margin-left:50px;
box-shadow:3px 3px 10px black;
padding:30px
}

.update-space{
background-colour:blue;
text-align:center;
}